include ../jadeMixins/form.jade

- var formDesc = {
-   name: 'loginForm',
-   model: 'credentials',
-   submit: 'login',
-   fields: [
-     {
-       name:       'username',
-       label:      'Username:',
-       type:       'text',
-       errorMsg:   'username is required',
-       extraAttrs: { required: '', autofocus: '' }
-     },
-     {
-       name:       'password',
-       label:      'Password:',
-       type:       'password',
-       errorMsg:   'password is required',
-       extraAttrs: { required: '' }
-     }
-   ]
- };

.modal-header
  h3.modal-title Sign in
.modal-body
  +form(formDesc)
    .form-group
      button.btn.btn-primary#LoginSubmit(
        type="submit"
        ng-disabled="loginForm.$invalid"
      ) Sign in
      | &nbsp;
      button.btn.btn-default#LoginCancel(
        type="button"
        ng-click="cancel()"
      ) Cancel
      a.pull-right.btn.btn-link(ui-sref="register", ng-click="cancel()") create a new account