include ../jadeMixins/form.jade

.container
  h3 Create a new event
  +form(require('./createEvent.form.coffee'))
    .form-group
      button.btn.btn-primary(
        type="submit"
        ng-disabled="createEventForm.$invalid"
      ) Create event