nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(ng-href="#/home") seating.io
      button.navbar-toggle(ng-click="isCollapsed = !isCollapsed")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-collapse.navbar-right(collapse="isCollapsed")
      ul.navbar-nav.nav
        li.dropdown(dropdown="", ng-show="session.userid !== null")
          a.dropdown-toggle(dropdown-toggle="") {{session.userid}}&nbsp;
            span.glyphicon.glyphicon-user
            span.caret
          ul.dropdown-menu(role="menu")
            li
              a(ng-href="#/user/{{session.userid}}") View user page
            li
              a(ng-href="#/editProfile") Edit profile
            li
              a(ng-click="logout()") Sign out
        li(ng-show="session.userid == null")
          a(ng-click="login()") Sign in
